.idea
.settings
.scannerwork
.allure/
allure-report/
target/
output/
src/test/resources/drivers
src/test/java/runner/parallel
src/test/java/runner/Runner.java
.classpath
.project
.DS_Store
*.iml
*.obj
*.pdb
*.userData
*.aps
#*.exe
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll 
*.lib
*.sbr